.coming_soon {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 66vh;
  width: 66vw;
  /* border: 2px solid var(--accent-color); */
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--bg-color);
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.info {
  flex: 2;
  padding: 2rem;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title {
  font-size: 2.3rem;
  margin-bottom: 4rem;
}
.form {
  display: flex;
  justify-content: space-between;
}
.input {
  border: 2px solid var(--accent-color-30);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.btn {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid var(--accent-color-30);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: border-color 450ms;
}
.btn:hover,
.btn:focus-visible,
.btn:active {
  border-color: var(--accent-color);
}

.sidenote {
  font-size: 0.8rem;
  color: var(--accent-color-80);
}

.img_con {
  flex: 3;
}
.img {
}

.modal {
  position: fixed;
  inset: 0;
  background-color: var(--accent-color-10);
  z-index: 999;
}
